.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.leftCol {
  background-color: #027aff;
  min-height: 900px;
}
.createForm {
  height: 100vh;
}
.createBtn{
  text-align: left !important;
  margin-top: 10px !important;
  background-color: whitesmoke !important;
  color: #007bff !important;
  border-radius: 50px !important;
}
.createBtn>a:hover {
text-decoration: none;
}
.listHeading {
  color: whitesmoke;
  text-align: left;
  font-size: 24px;
}
.validateBtn{
  text-align: left !important;
  margin-top: 10px !important;
  background-color: whitesmoke !important;
  color: #007bff !important;
  border-radius: 50px !important;
}
.modalSize {
  width: 90% !important;
  max-width: none !important;
}
.eleBtn {
  width: 150px !important;
  text-align: left !important;
  margin-top: 10px !important;
  border: 1px dashed white !important;
  border-radius: 50px !important;
}
.formContainer {
  min-height: 700px;
}
.formBuilder {
  padding: 1rem;
}
.saveBtn {
  margin-top: 10px !important;
  border-radius: 50px !important;
}
.clearBtn {
  margin-top: 10px !important;
  border-radius: 50px !important;
  color: #007bff !important;
  background-color: white !important;
  margin-left: 10px;
}
.elementWrapper {
  padding: 5px;
}
.elementWrapper:hover {
  background-color: #f5f5f55c;
  cursor: all-scroll;
}

.wrapperIcons {
  position: absolute;
  right: 0;
  border-radius: 50px;
  background-color: lightgray;
  border: 1px solid lightgray;
}
.icons {
  margin-right: 10px;
  margin-left: 10px;
  color: white;
}
.icons:hover {
  cursor: pointer;
  color: gray;
}
.formUI {
  margin-top: 10px;
  border: 1px solid #d5d4d4;
  padding: 20px;
}
.listForm {
  color: whitesmoke;
  text-align: left;
  margin-left: 10px;
  font-size: 20px;
}
.listForm:hover {
  cursor: pointer;
}
.listFormSelected {
  font-weight: 700;
  color: whitesmoke;
  text-align: left;
  margin-left: 10px;
  font-size: 20px;
}
.listFormSelected:hover {
  cursor: pointer;
}